.single-show-main{
    position: relative;
    border-top: var(--BORDER-THREE);
    border-bottom: var(--BORDER-THREE);
}

.single-show-main::before{
    content: '';
    position: absolute;
    background-image: url('/AbbeyRoadBg.png');
    background-size: cover;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    z-index: 0;
    opacity: .5;
}

.single-show{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 10px;
    position: relative;
    border: var(--BORDER-ONE);
}

.single-show,
.date-time,
.date,
.time,
.venue,
.city,
.tckt-btn{
    font-family: var(--FONT-ONE);
    color: var(--COLOR-SEVEN);
    background-color: var(--COLOR-ONE);
    font-size: 2rem;
    transition: all .5s linear;
    width: fit-content;
    border-radius: 5px;
    line-height: 2rem;
}

.venue:hover,
.city:hover,
.tckt-btn:hover{
    color: var(--COLOR-ONE);
    background-color: var(--COLOR-SEVEN);
}

.shows-top-btn{
    background-color: transparent;
    position: relative;
    z-index: 1;
    margin-bottom: .5rem;
    color: var(--COLOR-SEVEN);
}

.show-top-letter{
    background-color: var(--COLOR-ONE);
    font-family: var(--FONT-ONE);
    font-size: 2rem;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: .15rem;
    line-height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s linear;
    height: 2rem;
}

.show-top-space{
    background-color: var(--COLOR-ONE);
    font-family: var(--FONT-ONE);
    font-size: 2rem;
    padding-left: 4px;
    padding-right: 4px;
    line-height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s linear;
    color: transparent;
    height: 2rem;
}

.shows-top-btn:hover .show-top-letter{
    background-color: var(--COLOR-SEVEN);
    color: var(--COLOR-ONE);
    box-shadow: 3px 3px 5px var(--COLOR-ONE);
}
.shows-top-btn:hover .show-top-space{
    background-color: var(--COLOR-SEVEN);
    color: transparent;
    box-shadow: 3px 3px 5px var(--COLOR-ONE);
}

@media (max-width: 480px) {
    .single-show{
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding-left: 1rem;
        padding-right: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .single-show,
    .date-time,
    .date,
    .time,
    .tckt-btn,
    .city,
    .venue{
        font-size: 1.25rem;
    }

    .show-top-btn{
        background-color: transparent;
        position: relative;
        z-index: 1;
        /* margin-bottom: .25rem; */
        display: flex;
        justify-content: center;
    }
    .show-top-letter{
        background-color: var(--COLOR-ONE);
        font-family: var(--FONT-ONE);
        font-size: 1.4rem;
        height: 1.45rem;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;   
        padding-left: 3px;
        padding-right: 3px;
        padding-bottom: 1px;
        color: var(--COLOR-SEVEN);
        position: relative;
    }
    
    .show-top-space{
        background-color: var(--COLOR-ONE);
        font-family: var(--FONT-ONE);
        font-size: 1.4rem;
        height: 1.45rem;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;   
        padding-left: 3px;
        padding-right: 3px;
        padding-bottom: 1px;
        color: transparent;
        position: relative;
    }
 
}