/* small */
.mobile-member-main{
    position: relative;
    z-index: 1;
}

.mobile-member-main::before{
    content: '';
    position: absolute;
    background-image: url('/AbbeyRoadBg.png');
    background-size: cover;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    z-index: 0;
    opacity: .5;
}

.mobile-band-member-letter,
.mobile-band-member-space{
    background-color: var(--COLOR-ONE);
    font-family: var(--FONT-ONE);
    font-size: 1.4rem;
    height: 1.45rem;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;   
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 1px;
    color: var(--COLOR-SEVEN);
    position: relative;
}

.mobile-band-member-space{
    color: transparent;
}

.mobile-member-pic{
    width:85%;
    height: auto;
    border: solid 10px var(--COLOR-ONE);
    border-radius: 5%;
    justify-self: center;
    filter: grayscale(.75) brightness(1.35);
}

.mobile-member-icons,
.mobile-member-icon{
    position: relative;
    background-color: transparent;
    font-size: 1.5rem;
    transition: all .5s linear;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
}

.mobile-member-icon:hover{
    background-color: var(--COLOR-ONE);
    color: var(--COLOR-FIVE);
}

.mobile-member-bio{
    font-family: var(--FONT-ONE);
    font-size: .65rem;
    line-height: normal;
    background-color: var(--COLOR-ONE);
    color: var(--COLOR-SEVEN);
    padding: 1rem;
    border-radius: 10px;
    position: relative;
    width: 90%;
    height: 100%;
}

/* medium and large */
.band-member-main{
    position: relative;
}

.band-member-main::before{
    content: '';
    position: absolute;
    background-image: url('/AbbeyRoadBg.png');
    background-size: cover;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    z-index: 0;
    opacity: .5;
}

.michael-container,
.doug-container,
.dave-container,
.kris-container,
.steve-container{
    padding-top: 3rem;
}

.member-pic{
    width: 75%;
    height: auto;
    border: solid 10px var(--COLOR-ONE);
    border-radius: 5%;
    justify-self: center;
    filter: grayscale(.75) brightness(1.35);
}

.band-member-name{
    position: relative;
    background-color: transparent;
}

.michael-text,
.dave-text,
.steve-text{
    justify-self: center;
    margin-left: 5rem;
    margin-right: 7rem;
    position: relative;
    background-color: transparent;
}

.doug-text,
.kris-text{
    justify-self: center;
    margin-left: 7rem;
    margin-right: 5rem; 
    position: relative;
    background-color: transparent;
}

.band-member-letter,
.band-member-space{
    background-color: var(--COLOR-ONE);
    font-family: var(--FONT-ONE);
    font-size: 3rem;
    height: 3.1rem;
    display: flex;
    align-items: center;
    justify-content: center;   
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 7px;
    width: fit-content;
}

.band-member-letter{
    color: var(--COLOR-SEVEN);
}

.band-member-space{
    color: transparent;
}

.member-bio{
    font-family: var(--FONT-ONE);
    font-size: 1.45rem;
    line-height: normal;
    background-color: var(--COLOR-ONE);
    color: var(--COLOR-SEVEN);
    padding: 1rem;
    border-radius: 10px;
}

.member-icons{
    background-color: transparent;
} 

.member-icon-button {
    width: fit-content;
}

.member-icon{
    width: 4.5rem;
    height: auto;
    background-color: transparent;
    transition: all .5s linear;
    border-radius: 10px;
    padding: 10px;
}

.member-icon:hover{
    color: var(--COLOR-FIVE);
    background-color: var(--COLOR-ONE);
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 770px) {
    .band-member-letter,
    .band-member-space{
        font-size: 1.5rem;
        height: 1.8rem;
        padding-bottom: 3px;
    }

    .member-bio{
        font-size: 1rem;
    }

    .michael-text,
    .dave-text,
    .steve-text{
        margin-left: 0;
        margin-right: 2rem;
    }

    .doug-text,
    .kris-text{
        margin-left: 2rem;
        margin-right: 0;
    }

    .member-icon{
        width: 3rem;
        padding: 5px;
    }
}