.band-header{
    background-color: var(--COLOR-ONE);
}

.band-header-letter{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.1rem;
    padding-bottom: 7px;
    background-color: var(--COLOR-ONE);
    color: var(--COLOR-SEVEN);
    font-family: var(--FONT-ONE);
    font-size: 3rem;   
}