.footer{
    background-color: var(--COLOR-ONE);
}

.footer-icons,
.footer-icon{
    width: fit-content;
    color:var(--COLOR-SEVEN);
    background-color: var(--COLOR-ONE);
    transition: all .25s linear;
    padding: 5px;
    border-radius: 10px;
}

.footer-icon:hover{
    color: var(--COLOR-ONE);
    background-color: var(--COLOR-SEVEN);
}

.mailto,
.phone,
.copyright,
.dev-link,
.footer-text-container{
    background-color: var(--COLOR-ONE);
    color: var(--COLOR-SEVEN);
    font-family: var(--FONT-ONE);
    transition: all .5s linear;
}

.mailto:hover,
.phone:hover,
.dev-link:hover{
    color: var(--COLOR-FIVE);
}